/*
Autor: Jorge Marcelo
Data de Criação: 23/06/2023
Github: https://github.com/Jorge-Marcelo
Linkedin: https://www.linkedin.com/in/jorge-marcelo-067a5017b/
*/ 


/*Fontes do Google Fonts*/
/*Fonte: Lato*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
/*Fonte: Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
/*Fonte: Mulish*/
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@1,300&display=swap');
/*Fonte: PT Sans Narrow*/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');


/*Configuraçoes Globais*/
*{
margin: 0;
padding: 0;
border: 0;
box-sizing: border-box;
}

/*Background, Posicionamento e visualização*/
body{
background: linear-gradient(45deg, #e26f2d, #e0ca00, red);
background-repeat: no-repeat;
min-width: 100vw;
min-height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}

/*Background, texto, borda e espaçamento dos itens do  formulario*/
main{
background: rgb(56, 54, 54);
min-width: 320px;
min-height: 40vh;
padding: 2rem;
box-shadow: 5px 5px 15px rgb(0, 0, 0);
border: 2px solid rgb(255, 255, 255);
border-radius: 10px;
margin: 20px;
}

/*Posicionamento dos itens do ormulario*/
form{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

/*Configurações de texto*/
label{
font-size: 1.6rem ;
color: white;
margin: 5px;
font-weight: 900;
}

h1{
font-family: 'Lato', sans-serif;
margin: 10px;
color: white;
text-align: center;
font-size: 2rem;
}


h2{
font-family: 'PT Sans Narrow', sans-serif;
margin: 10px;
color: white;
text-align: center;
}

h3{
font-family: 'Mulish', sans-serif;
margin: 10px;
color: white;
font-size: 1.3rem;
text-align: center;
}


p{
font-family: 'Mulish', sans-serif;
font-size: 1.5rem;
margin: 5px;
color: rgb(255, 94, 0);
font-weight: 900;
text-align: center;
}

/*Input do formulario*/
input{
border: 3px solid rgb(255, 72, 0);
border-radius: 10px;
height: 50px;
width: 100%;
background: transparent;
color: white;
font-size: 1.2rem;
font-weight: 900;
text-align: center;
}

/*Botão de enviar*/
button{
width: 250px;
height: 70px;
border: 3px solid rgb(255, 72, 0);
border-radius: 10px;
margin: 10px;
font-size: 1.7rem;
font-weight: 900;
color:rgb(255, 72, 0);
background-color: black;
}

/*Rodape do formulario*/
footer{
display: flex;
flex-direction: column;
margin: 20px;
}


footer img{
margin: 10px;

height: 40px;
}



/*Configurações das logos das redes sociais*/
.instagram{
border: 2px solid white;
background-color: #750130;
width: 250px;
height: 60px;
border-radius: 10px;
margin: 5px;
}


.linkedin{
border: 2px solid white;
background-color: #011c75;
width: 250px;
height: 60px;
border-radius: 10px;
margin: 5px;
}


.github{
border: 2px solid rgb(0, 0, 0);
background-color: #ffffff;
width: 250px;
height: 60px;
border-radius: 10px;
margin: 5px;
}

/*Classes dos resultados do formulario*/
.sucesso{
color: rgb(0, 255, 76);
font-size: 1.3rem;
}

.erro{
color: rgb(255, 8, 0);
font-size: 1.3rem;
}


.erro2{
color: rgb(255, 8, 0);
font-size: 1.3rem;
}


/*Responsividade*/
@media(max-width:500px){
main{
width: 400px;
}
h3{
font-size: 1.2rem;
margin: 10px;
}
h1{
font-size: 1.7rem;
}
}


@media(max-width:400px){
main{
width: 300px;
}
h1{
font-size: 1.5rem;
}
}

@media(max-width: 360px){
main{
width: 250px;
}
h1{
font-size: 1.3rem;
}
}

@media(max-width: 340px){
main{
width: 200px;
}
h1{
font-size: 1.3rem;
}
}






